.css-no-saved-videos-container {
  height: 85vh;
}

.css-no-saved-videos-image {
  width: 400px;
}

.css-saved-Link-property {
  text-decoration: none;
  display: flex;
}

.css-ul-saved-videos-container {
  height: 100vh;
}
